body {
    background: rgb(#fff) !important;
    font-family: Arial;
    font-size: 12px !important;
    padding: 1cm;
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm; 
    padding: 1cm;
}
@media print {
    @page {size: portrait}
    body, page {
        margin: 0 !important;
        box-shadow: 0 !important;
    }
    page{
        padding: 0cm !important;
    }
    page td,th {
        padding: 2px !important;
        padding-left: 5px !important;
    }
    th{
        -webkit-print-color-adjust: exact;
    }
    .container-text {
        background-color: #e4e4e4;
        border-width: 2px;
        border-style: solid;
        border-color: #000;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container-text-2 {
        background-color: #fff;
        border-width: 2px;
        border-style: solid;
        border-color: #000;
        padding: 5px;
        vertical-align: middle;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .next-page{
        page-break-before: always;
    }
}
.container-text {
    background-color: #e4e4e4;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-text-2 {
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    padding: 5px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}